@using Wood_Pecker_Mail
@{


    int activeMessageID = 0;
    const string MESSAGE_VAULE = "messageValue";
    if (!User.Identity.IsAuthenticated)//User Must be login to be here
    {
        Response.Redirect("~/Account/Login");
    }

    Page.Title = "Inbox";

    //get messages from database
    MessagesDB[] theirInbox = DataBaseHelper.getInbox();
    //store in something awsome

    //next we need to look at the post

    if(IsPost)
    {
        //also need to make sure the user is only looking at there own messages

        if(!this.Request[MESSAGE_VAULE].IsInt())
        {
            Response.Redirect("~/Default");//Just don't want to deal with you hackers right now
        }

        activeMessageID = Int32.Parse(this.Request[MESSAGE_VAULE]);//we know this is a int or we would be on the homepage(fingers crossed)




    }



}

<hgroup class="title">
    <h1>@Page.Title</h1>
    <h2> Read your messages here</h2>
</hgroup>

<article>
    @for (int i = 0; i < theirInbox.Length; i++)
    {
        if(theirInbox[i].getId() == activeMessageID)
        { 
        <p><strong>From: </strong>@theirInbox[i].getfromUser()</p>
        <p><strong>Subject: </strong>@theirInbox[i].getSubjectLine()</p>
        <p>@theirInbox[i].getBodyOfMessage()</p>
        <p id="data"> </p>
<script>
            document.getElementById("data").innerHTML = Date(@theirInbox[i].getTimeStamp());
</script>
        }
    }
</article>

<aside>
    <h2>Messages</h2>

    <table>
        <tr>
            <th>From</th>
            <th>Subject</th>
        </tr>
        
        @foreach (MessagesDB singleMessage in theirInbox)
        {
        
        <tr onclick="submitTheOnClick(@singleMessage.getId())">
                <td>@singleMessage.getfromUser()</td>
                <td>@singleMessage.getSubjectLine()</td>
        </tr>
        <form id="@singleMessage.getId()" method="post">
            <input type="hidden" name="@MESSAGE_VAULE" value="@singleMessage.getId()" />
        </form>
        }
        
        
    </table>
    <script>
        function submitTheOnClick(name)
            {
                document.getElementById(name).submit();
            }
    </script>
</aside>